.container-pokemon-list{
    margin: 24px 5px 4px 5px;
    background-color: white;
    border-radius: 8px;
    min-height: calc(100dvh - 28px); /* 100% pantalla menos los márgenes */
    box-sizing: border-box;
}

.container-pokemon-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 24px 1px 0px 1px;
}

.single{
    display: flex;
    justify-content: start;
    margin-left: 12px;
    flex-wrap: wrap;
}

.pokemon-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 124px;
    border-radius: 8px;
    background: linear-gradient(to bottom, #fff 50%, #EFEFEF 50%);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.20);
    position: relative;
    text-decoration: none;
}

.pokemon-card:hover{
    transform: scale(1.05);
}

.pokemon-card span{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #666;
    text-align: right;
    font-family: Poppins;
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
}

.pokemon-card img{
    width: 72px;
    height: 72px;
}

.pokemon-card p{
    color: #1D1D1D;
    text-align: center;
    font-family: Poppins;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 10px;
}

@media(min-width: 768px){
    .container-pokemon-card{
        margin: 0 auto;
        width: 87%;
        gap: 15px;
        padding-top: 34px;
    }
    .pokemon-card{
        width: 135px;
        height: 139px;
    }
}