@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    /*TYPES COLORS*/
    --type-bug: #a7b723;
    --type-dark: #75574c;
    --type-dragon: #7037ff;
    --type-electric: #f9cf30;
    --type-fairy: #e69eac;
    --type-fighting: #c12239;
    --type-fire: #f57d31;
    --type-flying: #a891ec;
    --type-ghost: #70559b;
    --type-normal: #aaa67f;
    --type-grass: #74cb48;
    --type-ground: #dec16b;
    --type-ice: #9ad6df;
    --type-poison: #a43e9e;
    --type-psychic: #fb5584;
    --type-rock: #b69e31;
    --type-steel: #b7b9d0;
    --type-water: #6493eb;
}