* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.container-home{
    background-color: #DC0A2D;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.header-home {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 24px 15px;
    gap: 8px;
}

.container-logo {
    display: flex;
    gap: 16px;
}

.container-logo img{
    width: 24px;
}

.container-logo h1{
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; 
}

.container-input{
    display: flex;
    width: 100%;
    gap: 16px;
    justify-content: center;
}

.container-input-div{
    margin-top: 20px;
    width: 94.85%;
    position: relative;
    height: 32px;
}

.container-input input{
    width: 100%;
    display: flex;
    padding-left: 32px;
    align-items: center;
    height: 32px;
    border: #fff;
    border-radius: 16px;
    font-family: Poppins;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.20);
}

.container-input input::placeholder{
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.container-input input:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

.button-search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
}

.search-icon{
    color: #DC0A2D;
    width: 16px;
    left: 4%;
    top: 8px;
}

.close-icon{
    position: absolute;
    color: #DC0A2D;
    width: 16px;
    right: 2%;
    top: 8px;
}

.home-button{
    width: 32px;
    border: none;
    border-radius: 16px;
}

.container-message-error{
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: 300;
}

.message-error{
    width: 200px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 2px solid #DC0A2D;
    color: #1D1D1D;
    padding: 12px 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-weight: bold;
    animation: fadeInOut 2s ease-in-out;
}

.message-error p{
    font-family: Poppins;
    font-size: 11px;
}



.close-icon-message{
    position: absolute;
    color: #DC0A2D;
    width: 16px;
    right: 2%;
    top: 3px;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateX(-50%) translateY(-20px); }
    60%{ opacity:1; transform: translateX(-50%) translateY(0px); }
    100% { opacity: 1; transform: translateX(-50%) translateY(0px); }
}

@media(min-width: 1024px){
    .container-input-div{
        width: 85%;
        margin-top: 10px;
    }

    .container-logo img{
        width: 30px;
    }

    .container-logo h1{
        font-size: 30px;
        line-height: 47px;
    }

    .container-input input{
        height: 40px;
        padding-left: 40px;
        font-size: 13px;
    }

    .container-input input::placeholder{
        font-size: 13px;
    }

    .button-search{
        width: 39px;
        height: 40px;
    }

    .search-icon{
        width: 23px;
        font-size: 20px;
        left: 4%;
    }
    
    .close-icon{
        width: 40px;
        font-size: 23px;
        right: 1px;
    }

    .message-error{
        width: 200px;
        height: 140px;
        padding: 30px;
    }
    
    .message-error p{
        font-size: 13px;
    }
}

@media(min-width: 1440px){
    .container-input-div{
        width: 75%;
    }
}